{% extends 'admin/base.twig' %}

{% block page_title %}Liste des catégories{% endblock %}

{% block content %}

    {% if tag is defined and tag is not null %}
        {% set form_title = "Modifier la catégorie" %}
        {% set action = "edit" %}

    {% else %}
        {% set form_title = "Ajouter une catégorie" %}
        {% set action = "add" %}
    {% endif %}

    <div class="row g-4">
        <div class="col-lg-4">
            <section class="card mb-4">
                <div class="card-body">
                    <h2 class="mb-4 h6">{{ form_title }}</h2>
                </div>
            </section>
        </div>

        <div class="col-lg-8">
            <section class="card">
                <div class="card-body">
                    <h2 class="h6">Toutes les catégories ( {{ pagination.totalItems }} )</h2>

                    {% include "widgets/message/_flash.twig" with {'dismissible': true} %}
                
                    {% if categories is defined and categories is not empty %}
                        <div class="table-responsive my-4">
                            <table class="table mb-0">
                                <thead class="bg-primary opacity-50">
                                    <tr>
                                        <th class="text-uppercase text-md" scope="col">#</th>
                                        <th class="text-uppercase text-md" scope="col">Nom</th>
                                        <th class="text-uppercase text-md" scope="col">Slug</th>
                                        <th class="text-uppercase text-md" scope="col">Description</th>
                                        <th class="text-uppercase text-md" scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for category in categories %}
                                        <tr>
                                            <td>{{ loop.index + (pagination.currentPage - 1) * pagination.itemsPerPage }}</td>
                                            <td>{{ category.name }}</td>
                                            <td>{{ category.slug }}</td>
                                            <td>{{ category.description }}</td>
                                            <td>
                                                <div class="d-flex gap-1">
                                                    <a href="#" class="btn btn-outline-primary btn-sm">
                                                        <i class="bi bi-pencil"></i>
                                                    </a>
                                                    <button
                                                        data-bs-toggle="modal" 
                                                        data-bs-target="#remove_modal" 
                                                        {# data-path="{{ path('admin.category.remove', {id: category.id}) }}" #}
                                                        class="btn btn-outline-danger btn-sm">
                                                        <i class="bi bi-trash"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% else %} <p class="mb-0">Aucune catégorie d'ajoutée.</p>
                    {% endif %}
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="text-md text-muted">
                            {{ display_pagination_info(pagination, 'catégories') }}
                        </span>
                        {{ render_pagination(pagination) }}
                    </div>
                </div>
            </section>
        </div>
    </div>

    {% include "admin/partials/_delete_modal.twig" %}
{% endblock %}