{% extends 'admin/base.twig' %}

{% block page_title %}Liste des tags{% endblock %}

{% block content %}

    {% if tag is defined and tag is not null %}
        {% set form_title = "Modifier le tag" %}
        {% set action = "edit" %}

    {% else %}
        {% set form_title = "Ajouter un tag" %}
        {% set action = "add" %}
    {% endif %}

    <div class="row g-4">
        <div class="col-lg-4">
            <section class="card mb-4">
                <div class="card-body">
                    <h2 class="mb-4 h6">{{ form_title }}</h2>

                    <form 
                        method="POST"

                        {% if action == 'edit' %}
                            action="{{ path('admin.tag.create', {id: tag.id}) }}"
                        {% else %}
                            action="{{ path('admin.tag.create') }}"
                        {% endif %}
                        
                        class="needs-validation"
                    >
                        {{ form_row(form, 'name') }}

                        {{ form_row(form, 'color') }}

                        {{ csrf_token() }}

                        {% if action == 'add' %}
                            <button class="btn btn-link w-100" type="submit"><i class="bi bi-plus me-1"></i> Ajouter</button>
                        {% else %}
                            <div class="d-flex gap-2">
                                <button class="col-8 btn btn-link" type="submit">
                                    <i class="bi bi-floppy me-1"></i> Enregistrer
                                </button>
                                <a href="{{ path('admin.tag.list') }}" class="btn border col-4">Annuler</a>
                            </div>
                        {% endif %}
                    </form>
                </div>
            </section>
        </div>

        <div class="col-lg-8">
            <section class="card">
                <div class="card-body">
                    <h2 class="h6">Tous les tags ( {{ pagination.totalItems }} )</h2>

                    {% include "widgets/message/_flash.twig" with {'dismissible': true} %}
                
                    {% if tags is defined and tags is not empty %}
                        <div class="table-responsive my-4">
                            <table class="table mb-0">
                                <thead class="bg-primary opacity-50">
                                    <tr>
                                        <th class="text-uppercase text-md" scope="col">#</th>
                                        <th class="text-uppercase text-md" scope="col">Nom</th>
                                        <th class="text-uppercase text-md" scope="col">Slug</th>
                                        <th class="text-uppercase text-md" scope="col">Couleur</th>
                                        <th class="text-uppercase text-md" scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for tag in tags %}
                                        <tr>
                                            <td>{{ loop.index + (pagination.currentPage - 1) * pagination.itemsPerPage }}</td>
                                            <td>{{ tag.name }}</td>
                                            <td>{{ tag.slug }}</td>
                                            <td>
                                                <div class="p-3 w-25 rounded-3" style="background-color: {{ tag.color }}">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-flex gap-1">
                                                    <a href="{{ path('admin.tag.edit', {id: tag.id}) }}" class="btn btn-outline-primary btn-sm">
                                                        <i class="bi bi-pencil"></i>
                                                    </a>
                                                    <button class="btn btn-outline-danger btn-sm">
                                                        <i class="bi bi-trash"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        {% else %} <p class="mb-0">Auncun tag d'ajouté.</p>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="text-md text-muted">
                            {{ display_pagination_info(pagination) }}
                        </span>
                        {{ render_pagination(pagination) }}
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}